
.firstPage{
    background-color: black;
}
.welcome {
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 4vw;
}
.image1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;
}
.img-1{
    height: 400px;
    width: 900px;
}

.play{
    text-decoration: none;
   justify-content: center;

 width: 10em;
 height: 2em;
 font-size: 24px;
    

}
.button1{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.title{
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 2vw;


}

.player{
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 1vw;


}

.roundNumber{
    background-color: black;
}

.board {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
    grid-template-rows: 18% 18% 18% 18% 18% 18%;
    border: 3px solid grey;
    min-height: 18vw;
}
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.square{
    display: flex;
    justify-content: center;
  background-color: white;
    border: 3px solid grey;
    align-items: center;
    font-size: 75%;
    
  
}
.inputBox{
    display: flex;
    justify-content: center;
    padding: 3em;
    
}


.button2{
    display: flex;
    justify-content: center;
    gap: 3em;
   
}
.guessPass{
    height: 3em;
    width: 5em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.playerScore{
    display: flex;
    color: white;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    
}

.nextRound{
    display: flex;
    justify-content: right;
    padding-right: 3em;
    margin: 5em;
    
}
.round2{
 
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 8em;
    text-decoration: none;
}

.finalCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 40em;
    height: 3em;
    font-size: 12px;
    color: white;
}
.header1{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.finalQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 40em;
    height: 20em;
    font-size: 12px;
    color: white;
}
.fQuestBorder{
    display: flex;
    justify-content: center;
}
.finalInput1{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.finalInput2{
    display: flex;
    justify-content: center;

}
.toLanding{
    display: flex;
    justify-content: right;
    padding-right: 3em;
    margin: 5em;
}

.betButton{
    display: flex;
    justify-content: center;
    padding: 2em;
}
.bet{
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 8em;
    text-decoration: none;

}
.homeButton{
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 8em;
    text-decoration: none;
}

.feet{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 40em;
    height: 3em;
    font-size: 12px;
    color: white;
}

.feetText{
    display: flex;
    justify-content: center;
    padding:2em;
}
